<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登录页面</title>
<script src="https://code.jquery.com/jquery-2.2.4.js"></script>
<script>
    $(document).ready(function(){
      $("#btnLogin").click(function(){
          const username = $("#id_username").val();
          const password = $("#id_password").val();

          $.post("{% url 'login:login_ajax' %}",{'username':username,'password':password}, function(res){
            if (res.code === 200){
                location.href = "{% url 'blog:index' %}"
            }else {
                $('#result').show().text(res.msg)
            }
        })

      });
    });
</script>
</head>
<body>
<div>
    <p>
        <label for="id_username">username:</label>
        <input type="text" id="id_username" name="username">
    </p>
    <p>
        <label for="id_password">password</label>
        <input type="password" id="id_password" name="password">
    </p>
    <p>
        result:<span id="result"></span>
    </p>
    <button type="button" id="btnLogin">登录</button>

</div>
</body>
</html>